{% extends 'layout.html' %}

{% block content %}


<div class="row">
    <div class="col-md-4 offset-md-4 p-4">
        <form action="/update/{{contact.id}}" method="POST" class="card bg-dark text-white p-4">

            <div class="mb-3">
                <label for="fullname">Enter your full name:</label>
                <input type="text" name="fullname" placeholder="Enter your Full Name" value="{{contact.fullname}}" class="form-control rounded-0 bg-dark border-0 text-white">
            </div>
            <div class="mb-3">
                <label for="fullname">Enter your email:</label>
                <input type="text" name="email" placeholder="Enter your email" value="{{contact.email}}" class="form-control rounded-0 bg-dark border-0 text-white">
            </div>
            <div class="mb-3">
                <label for="fullname">Enter your phone number:</label>
                <input type="text" name="phone" placeholder="Enter your phone number" value="{{contact.phone}}" class="form-control rounded-0 bg-dark border-0 text-white">
            </div>
            <button class="btn btn-primary">Save</button>
        
        </form>
    </div>
</div>

{% endblock %}